#header {
  z-index: 4;
  display: block;
  right: 5px;
  width: 100%;
}

#header > p {
  width: 100%;
}




.node {
  cursor: pointer;
}

.overlay{
  background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px; 
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
  display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
  display: none;
}

.pager {
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-menu {
  font-size: 16px;
}

.sb-right {
  background-color: rgba(189, 187, 204, 0.48);
  color: white;
  height: 100%;
}

.sb-left {
  background-color: #337ab7;
  color: white;
  height: 100%;
  padding: 5px;
}

.sb-left > .sb-toggle-left {
  text-align: right;
  padding-right: 10px;
}

#map-list {
  height: 70%;
  overflow: scroll;
}

#map-list > .append-map {
  background-color: #D9EDF7;
}

#map-list > .user-map {
  background-color: #eee;
}

.nodeInfo {
  height: 18%;
  margin: 5%;
}

.workplace {
  bottom: 0px;
  width: 90%;
  height: 80%;
  margin: 5%;
  position: absolute;
}

.workplace-list {
  position: absolute;
  max-height: 85%;
  overflow: scroll;
  bottom: 20px;
  width: 100%;

}

.workplace-input {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20px;
}

.ideaCards {
  color: black;
}

input {
  width: 70%;
}

.chat-area {
  height: 30%;
  width: 100%;
  bottom: 0px;
  margin-top: 10px;
}

#history {
  height: auto;
  width: 100%;
  background-color: #eee;
}

#comment {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
